 
 
  <%- include("partials/header") -%>
 
 

<main>
 

<section class="slide-show">
  <div class="main-text">
     
      <h1>Wellcome to lk business</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam corporis beatae explicabo. Quae earum aperiam iste assumenda sint placeat quibusdam laboriosam. Dolore minima distinctio, sit sint recusandae cupiditate. Earum, rem!</p>
    
    <a class="btn btn-dark main-text-btn" href="/phones">Shop now</a>
      </div>


        <div id="press-slide " class="carousel slide" data-bs-ride="carousel">
           <div class="carousel-inner">
       <div class="carousel-item active slide" >
          <img class="slide-1" src="images/slider23-625.jpg" alt="img">
     
       </div>
       <div class="carousel-item slide"    >
        <img src="images/slider22-635.jpg" alt="img">
       </div>
        
       <div class="carousel-item slide"  >
        <img src="images/slider21-528.jpg" alt="img">
    
       </div>

        </div>
       </div> 
</section>

<!--  
<section class="phone-section">

  <div class="container-fluid">
    <div class="container-fluid banner"><a href="" class="bon-plan">Best Plan</a></div>
    <div class="row phone-row">


        <div class="col-lg-3 col-sm-4 col-xs-3 card-pricing cards">
          <div class="card"  >
            <div class="overlay">
              <img src="/images/basket-shopping-solid.svg" title="add to cart" class="header-img" alt="basket">
            </div>

               <a href="/phone/iphone"><img width="100%" name="iphone" src="images/iphone.jpg" alt="img"></a>
             
          </div>
        </div>

        <div class="col-lg-3 col-sm-4 col-xs-3 card-pricing cards">
          <div class="card  "  >
               <a href="/phone/itel"><img src="images/itel.jpg" alt="img"></a>
            <div class="card-body d-grid">
              <p>some text</p>
  <button type="button" class="btn btn-outline-danger btn-block">60000</button>
            </div>
          </div>
        </div>


        <div class="col-lg-3 col-sm-4 col-xs-3 card-pricing cards">
          <div class="card  "  >
              <img src="images/images.jpg" alt="img">
            <div class="card-body d-grid">
              <p>some text</p>
              <button type="button" class="btn btn-outline-danger btn-block">50000</button>
            </div>
          </div>
        </div>



        <div class="col-lg-3 col-sm-4 col-xs-3 card-pricing cards">
          <div class="card  "  >
              <img src="images/téléchargement (2).jpg" alt="img">
            <div class="card-body d-grid">
              <p>some text</p>
              <button type="button" class="btn btn-outline-danger btn-block">120000</button>
            </div>
          </div>
        </div>

        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3 col-sm-4 col-xs-3 card-pricing cards" >
                <div class="card"  >
                    <img src="images/iphone.jpg" alt="img">
                  <div class="card-body d-grid">
                    <p>some text</p>
                    <button type="button" class="btn btn-outline-danger btn-block">20000</button>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-sm-4 col-xs-3 card-pricing cards">
                <div class="card  "  >
                     <a href="/phone/itel"><img src="images/itel.jpg" alt="img"></a>
                  <div class="card-body d-grid">
                    <p>some text</p>
                    <button type="button" class="btn btn-outline-danger btn-block">45000</button>
                  </div>
                </div>
              </div>


              <div class="col-lg-3 col-sm-4 col-xs-3 card-pricing cards">
                <div class="card  "  >
                    <img src="images/images.jpg" alt="img">
                  <div class="card-body d-grid">
                    <p>some text</p>
                    <button type="button" class="btn btn-outline-danger btn-block">58000</button>
                  </div>
                </div>
              </div>



              <div class="col-lg-3 col-sm-4 col-xs-3 card-pricing cards">
                <div class="card"  >
                    <img src="images/téléchargement (2).jpg" alt="img">
                  <div class="card-body d-grid">
                    <p>some text</p>
                    <button type="button" class="btn btn-outline-danger btn-block">12500</button>
                  </div>
                </div>
              </div>

   </div>

  </div>

 </section> -->

 <section  >
 <div class="container">
  <div class="row">
    <div class="new-arrival col-8">
      <h1 class="tooltip-h1 left-h1">New Arrival 
   <span class="tooltip-txt"></span>
     </h1>
    </div>
  
  
   <div class="row phone-row">
  
  <!-- the phone/id should be same in add function  -->
    <!-- <div class="col-lg-3 col-sm-4 col-xs-3 card-pricing cards">
      <div class="card"  >
        <div class="overlay">
          <i class="fa-solid fa-basket-shopping" onclick="addToCart(1)" title="add to cart" class="header-img"></i>
        </div>
           <a href="/phone/1"><img width="100%" src="images/iphone.jpg" alt="img"></a>
             
<div id="cart"></div>

      </div>
      <div class="pricing">
       <h1>lorem ipsum</h1>
       <span>&dollar;190.00</span>
       <br>
       <i class="far fa-star star"></i>
       <i class="far fa-star star"></i>
       <i class="far fa-star star"></i>
       <i class="far fa-star star"></i>
      </div>
    </div>
  




    
    <div class="col-lg-3 col-sm-4 col-xs-3 card-pricing cards">
      <div class="card  "  >
        <div class="overlay">
          <i class="fa-solid fa-basket-shopping" onclick="addToCart(2)" title="add to cart" class="header-img"></i>
        </div>
           <a href="/phone/2"><img src="images/itel.jpg"  width="100%" alt="img"></a>
      </div>
      <div class="pricing">
        <h1>lorem ipsum</h1>
        <span>&dollar;190.00</span>
        <br>
        <i class="far fa-star star"></i>
        <i class="far fa-star star"></i>
        <i class="far fa-star star"></i>
        <i class="far fa-star star"></i>
       </div>
    </div>
  
  
    <div class="col-lg-3 col-sm-4 col-xs-3 card-pricing cards">
      <div class="card  "  >
        <div class="overlay">
          <i class="fa-solid fa-basket-shopping" onclick="addToCart(3)" title="add to cart" class="header-img"></i>
        </div>
        <a href="/phone/3"><img src="images/images.jpg" width="100%" alt="img"></a>
      </div>
      <div class="pricing">
        <h1>lorem ipsum</h1>
        <span>&dollar;190.00</span>
        <br>
        <i class="far fa-star star"></i>
        <i class="far fa-star star"></i>
        <i class="far fa-star star"></i>
        <i class="far fa-star star"></i>
       </div>
    </div>
  
  
  
    <div class="col-lg-3 col-sm-4 col-xs-3 card-pricing cards">
      <div class="card  "  >
        <div class="overlay">
          <i class="fa-solid fa-basket-shopping" onclick="addToCart(4)" title="add to cart" class="header-img"></i>
        </div>
         <a href="/phone/4"><img src="images/téléchargement (2).jpg"  width="100%" alt="img"></a>
      </div>
      <div class="pricing">
        <h1>lorem ipsum</h1>
        <span>&dollar;190.00</span>
        <br>
        <i class="far fa-star star"></i>
        <i class="far fa-star star"></i>
        <i class="far fa-star star"></i>
        <i class="far fa-star star"></i>
       </div>
    </div>
  

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-sm-4 col-xs-3 card-pricing cards" >
            <div class="card"  >
              <div class="overlay">
                <i class="fa-solid fa-basket-shopping" onclick="addToCart(5)" title="add to cart" class="header-img"></i>
              </div>
                <a href="/phone/5"> <img src="images/iphone.jpg" width="100%" alt="img"></a>
            </div>
            <div class="pricing">
              <h1>lorem ipsum</h1>
              <span>&dollar;190.00</span>
              <br>
              <i class="far fa-star star"></i>
              <i class="far fa-star star"></i>
              <i class="far fa-star star"></i>
              <i class="far fa-star star"></i>
             </div>
          </div>
  
          <div class="col-lg-3 col-sm-4 col-xs-3 card-pricing cards">
            <div class="card  "  >
              <div class="overlay">
                <i class="fa-solid fa-basket-shopping" onclick="addToCart(6)" title="add to cart" class="header-img"></i>
              </div>
                 <a href="/phone/6"><img src="images/itel.jpg"  width="100%" alt="img"></a>
            </div>
            <div class="pricing">
              <h1>lorem ipsum</h1>
              <span>&dollar;190.00</span>
              <br>
              <i class="far fa-star star"></i>
              <i class="far fa-star star"></i>
              <i class="far fa-star star"></i>
              <i class="far fa-star star"></i>
             </div>
          </div>
  
  
          <div class="col-lg-3 col-sm-4 col-xs-3 card-pricing cards">
            <div class="card  "  >
              <div class="overlay">
                <i class="fa-solid fa-basket-shopping" onclick="addToCart(7)" title="add to cart" class="header-img"></i>
              </div>
               <a href="/phone/7">  <img src="images/images.jpg" width="100%" alt="img"></a>
            </div>
            <div class="pricing">
              <h1>lorem ipsum</h1>
              <span>&dollar;190.00</span>
              <br>
              <i class="far fa-star star"></i>
              <i class="far fa-star star"></i>
              <i class="far fa-star star"></i>
              <i class="far fa-star star"></i>
             </div>
          </div>
  
  
  
          <div class="col-lg-3 col-sm-4 col-xs-3 card-pricing cards">
            <div class="card"  >
              <div class="overlay">
                <i class="fa-solid fa-basket-shopping" onclick="addToCart(8)" title="add to cart" class="header-img"></i>
              </div>
                 <a href="/phone/8"><img class="" src="images/téléchargement (2).jpg" width="100%" alt="img"></a>
            </div>
            <div class="pricing">
              <h1>lorem ipsum</h1>
              <span>&dollar;190.00</span>
              <br>
              <i class="far fa-star star"></i>
              <i class="far fa-star star"></i>
              <i class="far fa-star star"></i>
              <i class="far fa-star star"></i>
             </div>
          </div> -->










          <% basketItem.map((item,index) => { %>
            <div class="col-lg-3 col-sm-3 col-6 card-pricing cards" >
              <div class="card" >
                  <div class="overlay">
                    <i class="fa-solid fa-basket-shopping" onclick="addToCart('<%= index %>')" title="add to cart" class="header-img"></i>
                    <% {console.log(index)} %>
                  </div>
                     <a href="/phone/8"><img class="" src="../images/<%=item.imgName%>.jpg" width="100%" alt="img"></a>
                </div>
                <div class="pricing">
                  <h1>lorem ipsum</h1>
                  <span>&dollar;190.00</span>
                  <br>
                  <i class="far fa-star star"></i>
                  <i class="far fa-star star"></i>
                  <i class="far fa-star star"></i>
                  <i class="far fa-star star"></i>
                 </div>
              </div>
              
            
          
        <% }) %> 
        
        

   </div>
   </div>








 </div>

 </section>

 

 <section class="container-fluid  ">

<div class="row ">

  <div class="col-lg-8 col-12 left-hot-sec">
    <div class="new-arrival col-8">
      <h1 class="tooltip-h1 left-h1">BEST SELLER
   <span class="tooltip-txt"></span>
     </h1>
    </div>

    <!-- for this section a new array of images is need different from imagesid which is basketItem -->
    <div class="row small-size"> 
    <% basketItem.map((item,index) => { %>
        
       
        <div class="col-lg-4 col-sm-3 col-6 card-pricing cards"  >
          <div class="card" >
              <div class="overlay">
                <i class="fa-solid fa-basket-shopping" onclick="addToCart('<%= index %>')" title="add to cart" class="header-img"></i>
                <% {console.log(index)} %>
              </div>
                 <a href="/phone/8"><img class="" src="../images/<%=item.imgName%>.jpg" width="100%" alt="img"></a>
            </div>
            <div class="pricing">
              <h1>lorem ipsum</h1>
              <span>&dollar;190.00</span>
              <br>
              <i class="far fa-star star"></i>
              <i class="far fa-star star"></i>
              <i class="far fa-star star"></i>
              <i class="far fa-star star"></i>
             </div>
          </div>
      
    
  <% }) %> 
</div>
  </div>


  <div class="col-lg-4 col-sm-12 col-12">
    <div class="new-arrival col-4 right-aside">
      <h1 class="tooltip-h1 right-h1">HOT
   <span class="tooltip-right right-txt"></span>
     </h1>
  </div>

  <div class="col-lg-12 col-sm-12 card-pricing cards cards-hot">
    <div class="card"  >
       <a href="/phone/9">  <img src="images/images.jpg" width="100%" alt="img"></a>
    </div>
    <div class="pricing">
      <h1>lorem ipsum</h1>
      <span>&dollar;190.00</span>
      <span class="crossed">&dollar;380.00</span>
      <br>
      <i class="far fa-star star"></i>
      <i class="far fa-star star"></i>
      <i class="far fa-star star"></i>
      <i class="far fa-star star"></i>
     </div>
     <p>Lorem ipsum dolor sit, amet consectetur adipisicing    </p>
<div class="timer">
 
     <div>
      <p class="timer-para" id="day"></p>
      <p>Days</p>
     </div>
 
   
   <div>
    <p class="timer-para" id="hours"></p>
    <p>Hr</p>
   </div>

  <div>
    <p class="timer-para" id="minutes"></p>
    <p>Mins</p>
  </div>

   <div>
    <p id="seconds" class="timer-para"></p>
    <p>Sec</p>
   </div>
   
</div>
  </div>

   </div>
</div>
 </section>
 

<section class="container sale-dis">
  <h1>SALE UP TO 50% OFF</h1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates aspernatur aperiam mollitia</p>
</section>



<section class="testimonilas container">

  <div class="row">
    <div class="col-lg-6 col-12">
      <div class="truck all-test">
        <i class="fa-solid fa-truck-front footer-img" ></i>
        <div>
          <h1>FREE SHIPPING</h1>
          <p>We deliver you all over yaounde</p>
        </div>
      </div>
      <div class="thump all-test">
        <i class="fa-regular fa-thumbs-up footer-img"></i>
       <div>
        <h1>MEMBER SAFE SHOPPING</h1>
        <p>We deliver you all over yaounde</p>
       </div>
      </div>
      </div>
    
    
      <div class="col-lg-6 col-12">
    <div class="return all-test">
      <div>
        <i class="fa-solid fa-rotate-left footer-img"></i>
      </div>
      <div>
        <h1>30 DAYS FREE RETURN</h1>
        <p>We deliver you all over yaounde</p>
      </div>
    </div>
    <div class="phone all-test">
      <i class="fa-solid fa-phone footer-img"></i>
     <div>
      <h1>+237 645 654 256</h1>
      <p>We deliver you all over yaounde</p>
     </div>
    </div>
      </div>
  </div>


</section>

 

 
 <div class="container">
  <div class="row">   
 <div id="basket-item" class="row phone-row">
<span class="close-basket none" onclick="closeCart()">&times;</span>
</div>
  </div>
 </div>


<button class="btn back-to-top" id="to-top"><i class="fa-solid fa-rocket fa-2x rocket" onclick="toTop()" ></i></button>

</main>




<script src="/js/timer.js"></script>
<%- include("partials/footer") -%>
